## Week1

Introduction to Python
- Course overview and objectives
- Setting up and configuring Python
- Variables, data types, and operators
- Conditional statements and loops
- Functions and modules
- Lists, tuples, dictionaries, and sets
- Practice exercises and Q&A

### Data Type
- Number
- String
- Boolean
- List
- Tuple
- Dictionary
- Set

### Number
- Integer (Int)
- Real Number (Float)

In [1]:
a = 5
b = 3.14
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

### String
- It is represented as a sequence of characters, enclosed in either single quotes (' ') or double quotes (" ").

In [3]:
s1 = 'Hello, Python'
s2 = "파이썬"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

### Boolean
- True & False

In [4]:
t = True
f = False
print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

### Operator
- arithmetic
- comparison
- assignment
- logical
- bitwise
- membership
- identity

In [7]:
# arithmetic
a = 10
b = 6

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

16
4
60
1.6666666666666667
1
4
1000000

In [8]:
# comparison
x = 10
y = 20

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

In [9]:
# assignment
a = 5
a += 3
print(a)
a -= 2
print(a)
a *= 4
print(a)
a /= 2
print(a)
a %= 3
print(a)
a **= 2
print(a)
a //= 2
print(a)

8
6
24
12.0
0.0
0.0
0.0

In [10]:
# logical
t = True
f = False

print(t and f)
print(t or f)
print(not t)
print(not f)

False
True
False
True

In [11]:
# bitwise
a = 7  # 0111 (binary)
b = 3  # 0011 (binary)

print(a & b)
print(a | b)
print(a ^ b)

print(~a) 
# NOT
# a = 0111 = 7
# not a = 1000 = -8

print(a << 1)
print(a >> 1)

3
7
4
-8
14
3

In [12]:
# membership
nums = [1, 3, 5, 7, 9]

print(3 in nums)
print(4 not in nums)

True
True

In [13]:
# identity
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print(a is b)
# Have the same values but are separate list objects

print(a is c)
print(a is not b)

False
True
True