## Pandas 기초

In [2]:
import pandas as pd

print(pd.__version__)

1.1.5

In [3]:
# Series 생성
s = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [4]:
# DataFrame 생성
data = {'Name': ['John', 'Anna', 'Peter'],
        'Age': [28, 24, 32],
        'Country': ['USA', 'Germany', 'Korea']}
df = pd.DataFrame(data)
print(df)

    Name  Age  Country
0   John   28      USA
1   Anna   24  Germany
2  Peter   32    Korea

In [5]:
# 새로운 열 추가
df['Job'] = ['Teacher', 'Student', 'Engineer']
print(df)

# 새로운 행 추가
new_row = {'Name': 'Tom', 'Age': 26, 'Country': 'UK', 'Job': 'Artist'}
df = df.append(new_row, ignore_index=True)
print(df)

    Name  Age  Country       Job
0   John   28      USA   Teacher
1   Anna   24  Germany   Student
2  Peter   32    Korea  Engineer
    Name  Age  Country       Job
0   John   28      USA   Teacher
1   Anna   24  Germany   Student
2  Peter   32    Korea  Engineer
3    Tom   26       UK    Artist

In [6]:
# 'Name' 열 선택
print(df['Name'])

# 첫 3행 선택
print(df[:3])

0     John
1     Anna
2    Peter
3      Tom
Name: Name, dtype: object
    Name  Age  Country       Job
0   John   28      USA   Teacher
1   Anna   24  Germany   Student
2  Peter   32    Korea  Engineer

In [7]:
# 나이가 30 이상인 행 필터링
print(df[df['Age'] >= 30])

    Name  Age Country       Job
2  Peter   32   Korea  Engineer

In [8]:
# 'Age' 열 기준 오름차순 정렬
print(df.sort_values('Age'))

# 'Age' 열 기준 내림차순 정렬
print(df.sort_values('Age', ascending=False))

    Name  Age  Country       Job
1   Anna   24  Germany   Student
3    Tom   26       UK    Artist
0   John   28      USA   Teacher
2  Peter   32    Korea  Engineer
    Name  Age  Country       Job
2  Peter   32    Korea  Engineer
0   John   28      USA   Teacher
3    Tom   26       UK    Artist
1   Anna   24  Germany   Student